@model GroupViewModel

<form asp-controller="Groups" asp-action="CreateReally" method="post">
    <label asp-for="Name">Name</label>
    <input asp-for="Name" value="" />
    <button type="submit">Save</button>
</form>